.link {
  display: inline-block;
  text-decoration: none;

  color: #2a363b;
  text-shadow: 1px 1px 12px rgb(238, 238, 13);
  margin-right: 15px;
  padding: 5px;
  font-size: 15px;
  background-color: black;
  color: yellow;
  /* border: 2px solid yellow; */
  /* border-color: aliceblue; */
  /* box-shadow: 0px 0px 7px 0px rgb(238, 238, 13);
  border-radius: 5px; */
}

.activeLink {
  text-shadow: 1px 1px 12px rgb(238, 238, 13);
  font-weight: 700;
  margin-right: 15px;
  padding: 5px;
  font-size: 15px;
  background-color: black;
  color: yellow;
  border: 2px solid yellow;
  /* border-color: aliceblue; */
  box-shadow: 0px 0px 7px 0px rgb(238, 238, 13);
  border-radius: 5px;
}

.link:hover {
  transform: scale(1.05);
  cursor: pointer;
}