li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 0px yellow;

    color: yellow;
    background-color: rgba(0, 0, 0, 0.934);
    margin-top: 30px;
}

.headerBox {
    margin: 0 auto;
    padding: 0px;
}