.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
    /* box-shadow: 0px 0px 7px 0px orangered;
    border: 2px; */
}

/* .box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

.itemBox {
    margin-top: 30px;
} */